@page "/calendar"
@model dotnet_app.Pages.Calendar

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
            <script>

                document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        selectable: true,
                        events: [
                            {
                                title: 'Event 1',
                                start: '2023-03-10'
                            },
                            {
                                title: 'Event 2',
                                start: '2023-03-15',
                            }
                        ],
                        select: function(start, end) {
                            var eventData = {
                                start: start,
                                end: end
                            };
                            $.ajax({
                                url: '/CalendarEvents',
                                type: 'POST',
                                data: {Id: "1", Title: "Testing", Date: start},
                                success: function(response) {
                                    // handle successful response
                                    console.log(response);
                                },
                                error: function(xhr, status, error) {
                                    // handle error response
                                    console.log(error);
                                }
                                });
                        }
                    });
                    calendar.render();
                });

            </script>
    </head>
    <body>
        <div id="calendar"></div>
    </body>
</html>


