@page "/messager"
@model dotnet_app.Pages.Messages
@{
    ViewData["Title"] = "Messages";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome, @User.Identity.Name!</p>
    @* <form method="post" asp-page-handler="logout" class="form-inline">
        <button type="submit" class="btn btn-link">Logout</button>
    </form> *@

    <h1>@ViewData["Title"]</h1>

    <div>
        This is a messager page
    </div>
}